.sidebar {
    box-shadow: 6px 0px 14px -12px rgba(0, 0, 0, 0.56), 
                0px 0px 6px 0px rgba(0, 0, 0, 0.12), 
                0px 0px 2px -2px rgba(0, 0, 0, 0.2);
    background-color: rgba(252, 252, 252);
}

.sidebar::before, .off-canvas-sidebar nav .navbar-collapse::before {
    background-color: rgba(252, 252, 252) !important;
}

.logout-button {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 1rem;
}

.dropdown-divider {
    border: 0.1px solid rgb(60, 72, 88, 0.1);
    margin: 0 1rem;
}