
<!-- Enlace al archivo CSS -->
<link rel="stylesheet" href="../../static/assets/css/custom/sidebar.css">

{% if request.user.is_authenticated %}
<div class="sidebar" data-color="purple" data-background-color="white">
        <div class="logo">
            <a rel="noopener noreferrer" href="/" class="simple-text logo-normal">
                <img src="static/assets/img/marw-logo.jpg"/>
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="nav-item {% if request.path == '/' %} active {% endif %}">
                    <a class="nav-link" href="/">
                        <p>Inicio</p>
                    </a>
                </li>

                <li class="nav-item {% if 'catalog' in segment %} active {% endif %}">
                    <a class="nav-link" href="/catalogo.html">
                        <p>Catálogo</p>
                    </a>
                </li>

                <li class="nav-item {% if 'productos_abc' in segment %} active {% endif %}">
                    <a class="nav-link" href="/productos_abc.html">
                        <p>Productos ABC</p>
                    </a>
                </li>

                <li class="nav-item {% if 'analisis_abc' in segment %} active {% endif %}">
                    <a class="nav-link" href="/analisis_abc.html">
                        <p>Analisis ABC</p>
                    </a>
                </li>
            </ul>
            
            <ul class="nav logout-button">                
                <div class="dropdown-divider"></div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}" >
                        <p>Cerrar Sesión</p>
                    </a>
                </li> 
            </ul>


                <!-- <li class="nav-item {% if 'backorders' in segment %} active {% endif %}">
                    <a class="nav-link" href="/backorders.html">
                        <p>Backorders</p>
                    </a>
                </li> -->
                <!-- <li class="nav-item {% if 'traspasos' in segment %} active {% endif %}">
                    <a class="nav-link" href="/traspasos.html">
                        <p>Traspasos</p>
                    </a>
                </li>
                <li class="nav-item {% if 'reportes' in segment %} active {% endif %}">
                    <a class="nav-link" href="/reportes.html">
                        <p>Reporte</p>
                    </a>
                </li> -->
                <!-- <li class="nav-item {% if 'clientes_nuevos' in segment %} active {% endif %}">
                    <a class="nav-link" href="/clientes_nuevos.html">
                        <p>Clientes Nuevos</p>
                    </a>
                </li>
                <li class="nav-item {% if 'clientes_ausentes' in segment %} active {% endif %}">
                    <a class="nav-link" href="/clientes_ausentes.html">
                        <p>Clientes Ausentes</p>
                    </a>
                </li> -->

                <!-- <li class="nav-item {% if 'clientes_vencidos' in segment %} active {% endif %}"> -->
                    <!-- <a class="nav-link" href="/clientes_vencidos.html">
                        <p>Clientes Vencidos</p>
                    </a>
                </li> -->
        </div>
    </div>
{% endif %}
