{% extends "layouts/base.html" %}

{% block title %} Clientes Nuevos {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Productos ABC</h4>
                    <p class="card-category"> Lorem ipsum dolor sit amet, consectetur adipisci elit</p>
                </div>
                <div class="card-body">
                    <form id="filter-form" method="get">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" name="familia" id="familia" class="form-control" placeholder="Filtrar por familia" aria-label="Filtrar por familia" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="subfamilia" id="subfamilia" class="form-control" placeholder="Filtrar por subfamilia" aria-label="Filtrar por subfamilia" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-md-3">
                                 <input type="text" name="anio" id="anio" class="form-control" placeholder="Filtrar por año" aria-label="Filtrar por año" aria-describedby="basic-addon1">
                            </div>
                       </div>
                    </form>
                    <div class="table-responsive mt-3">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            </thead>
                            <tbody id="clientes-table-body">
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="pagination">
                        <button id="prev-page" class="btn btn-primary">Anterior</button>
                        <span id="page-info" class="mx-2"></span>
                        <button id="next-page" class="btn btn-primary">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
<script type="module" src="static/assets/html-js/productosabc/loadDataProductosABC.js"></script>
{% endblock javascripts %}
