{% extends "layouts/base.html" %}

{% block title %} Clientes Nuevos {% endblock %} 

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-primary">
                    <h4 class="card-title ">Productos ABC</h4>
                    <p class="card-category"></p>
                </div>
                <div class="card-body">
                    <form id="filter-form" method="get">
                        <div class="row">
                            <div class="col-md-3">
                                <input type="text" name="family" id="family-filter" class="form-control" placeholder="Filtrar por familia" aria-label="Filtrar por familia" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-md-3">
                                <input type="text" name="subfamily" id="subfamily-filter" class="form-control" placeholder="Filtrar por subfamilia" aria-label="Filtrar por subfamilia" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-md-3">
                                 <input type="text" name="year" id="year-filter" class="form-control" placeholder="Filtrar por año" aria-label="Filtrar por año" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-md-3">
                                 <select name="enterprise" id="enterprises-filter" class="form-control" aria-label="Filtrar por empresa" aria-describedby="basic-addon1">
                                    <option value="">Cualquiera</option>
                                    <option value="TODOS">Todas</option>
                                 </select>
                            </div>
                       </div>
                       <button type="submit" class="btn btn-primary">Filtrar</button>
                    </form>
                    <div class="table-responsive mt-3">
                        <table class="table table-hover">
                            <thead class=" text-primary">
                            </thead>
                            <tbody id="clientes-table-body">
                                
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="">
                        <ul class="pagination">
                            <li class="page-item">
                                <button class="page-link" id="first-page" aria-label="First Page">
                                    <span aria-hidden="true">&laquo;</span>
                                </button>
                            </li>
                            <li class="page-item">
                                <button id="previous-page" aria-label="Previous" class="page-link">Anterior</button>
                            </li>
                            <li class="page-item">
                                <button id="next-page" aria-label="Next" class="page-link">Siguiente</button>
                            </li>
                            <li class="page-item">
                            <button class="page-link" id="last-page" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </button>
                            </li>
                        </ul>
                        <p id="results"></p>
                    </nav>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
<script type="module" src="static/assets/html-js/productosabc/loadDataProductosABC.js"></script>
{% endblock javascripts %}
